/* CSS for IntroductionXBlock */
/*unit title background image*/
#banner{
	position:relative;
		}
	img{
	vertical-align:top;
		}
/* unit title text */
#bannerText{
	position:absolute; 
	top: 50%;
	left: 50%;
  justify-content: center;
	align-items: center;
	margin-right: -50%;
	transform: translate(-50%,-50%);
  color: white;
  font-size: 50px;
  font-family: "Open sans", sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  	}
/* Blue outer border */
.box{
	border:2px solid #0094ff; /*border properties including thickness and color*/
	-moz-border-radius-topright:5px;
  -moz-border-radius-topleft:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
	}

/*text color and text alignment of normal content including ordered and unordered list*/
.box p,.box ol,.box ul {color:#333;text-align:justify;} 

/*headers given in blue color background and in capital letters*/
.main-header{
  background: #0094ff;
  color: white;
  padding: 10px;
  text-align: left;
  font: normal 1.2em/1.2em "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
  margin: 0;  
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*To work the text align property as expected with pre tag*/
.box pre{
  white-space: normal;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
